<a href="https://colab.research.google.com/github/Daya-1-sgr/Used_car_price_prediction_EDA/blob/main/Used_Car_Details_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [36]:
df=pd.read_csv('/content/CAR DETAILS.csv')
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [37]:
df.shape

(4340, 8)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [39]:
df.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [40]:
df['fuel'].value_counts()

fuel
Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: count, dtype: int64

In [41]:
df.sample(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
2418,Nissan Sunny XV D Premium Leather,2015,450000,50000,Diesel,Individual,Manual,First Owner
3223,Tata Zest Quadrajet 1.3,2016,250000,70000,Diesel,Individual,Manual,First Owner
3207,Mahindra XUV500 W7 BSIV,2018,1150000,20000,Diesel,Individual,Manual,First Owner
2096,Maruti Omni MPI STD BSIV,2012,250000,90000,Petrol,Individual,Manual,First Owner
3815,Ford Fiesta 1.5 TDCi Titanium,2012,199000,92000,Diesel,Dealer,Manual,Third Owner
1186,Tata Manza Club Class Quadrajet90 VX,2013,170000,60400,Diesel,Individual,Manual,First Owner
2751,Hyundai Santro GS,2005,80000,56580,Petrol,Dealer,Manual,First Owner
4109,Maruti Eeco 5 Seater AC BSIV,2017,260000,30000,Petrol,Dealer,Manual,First Owner
2729,Hyundai Verna 1.6 SX,2012,480000,80000,Diesel,Individual,Manual,First Owner
1421,Toyota Innova 2.5 E 8 STR,2012,287000,70000,Diesel,Individual,Manual,First Owner

In [42]:
def extract_manufacturer_model_and_variant(name):
  parts=name.split()
  manufacturer=parts[0]
  model=parts[1]
  variant=' '.join(parts[2:])
  return manufacturer,model,variant

In [43]:
df[['manufacturer','model','variant']]=df['name'].apply(lambda x:pd.Series(extract_manufacturer_model_and_variant(x)))
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,manufacturer,model,variant
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner,Maruti,800,AC
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner,Maruti,Wagon,R LXI Minor
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner,Hyundai,Verna,1.6 SX
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner,Datsun,RediGO,T Option
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner,Honda,Amaze,VX i-DTEC

In [44]:
df['model'].value_counts()

model
Swift        320
Alto         258
Wagon        164
i20          132
Verna        129
            ...
One            1
NuvoSport      1
S-Presso       1
Yaris          1
Qualis         1
Name: count, Length: 185, dtype: int64

In [45]:
df['manufacturer'].value_counts()

manufacturer
Maruti           1280
Hyundai           821
Mahindra          365
Tata              361
Honda             252
Ford              238
Toyota            206
Chevrolet         188
Renault           146
Volkswagen        107
Skoda              68
Nissan             64
Audi               60
BMW                39
Fiat               37
Datsun             37
Mercedes-Benz      35
Jaguar              6
Mitsubishi          6
Land                5
Volvo               4
Ambassador          4
Jeep                3
MG                  2
OpelCorsa           2
Daewoo              1
Force               1
Isuzu               1
Kia                 1
Name: count, dtype: int64

In [46]:
df['variant'].value_counts()

variant
Dzire VDI         69
LX                59
800 LXI           59
LXi               49
VDI               42
                  ..
G                  1
LXI Option         1
Altis GL MT        1
Dzire AMT ZXI      1
Magna 1.4 CRDi     1
Name: count, Length: 1388, dtype: int64

In [47]:
df[df['model']=='Swift'].head(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,manufacturer,model,variant
54,Maruti Swift Dzire VDI Optional,2017,725000,18500,Diesel,Dealer,Manual,First Owner,Maruti,Swift,Dzire VDI Optional
58,Maruti Swift ZDi BSIV,2016,665000,46000,Diesel,Dealer,Manual,First Owner,Maruti,Swift,ZDi BSIV
76,Maruti Swift 1.3 VXi,2006,130000,110000,Petrol,Individual,Manual,Third Owner,Maruti,Swift,1.3 VXi
117,Maruti Swift Dzire VDI,2014,434000,79350,Diesel,Individual,Manual,Second Owner,Maruti,Swift,Dzire VDI
125,Maruti Swift Vdi BSIII,2007,100000,110000,Diesel,Individual,Manual,Fourth & Above Owner,Maruti,Swift,Vdi BSIII
165,Maruti Swift VVT ZXI,2017,550000,60000,Petrol,Individual,Manual,First Owner,Maruti,Swift,VVT ZXI
169,Maruti Swift VDI BSIV,2015,400000,100000,Diesel,Individual,Manual,Third Owner,Maruti,Swift,VDI BSIV
174,Maruti Swift Dzire ZXI Plus,2019,810000,15000,Petrol,Individual,Manual,First Owner,Maruti,Swift,Dzire ZXI Plus
196,Maruti Swift Dzire VDi,2009,250000,150000,Diesel,Individual,Manual,Third Owner,Maruti,Swift,Dzire VDi
199,Maruti Swift VDI BSIV,2017,600000,80362,Diesel,Individual,Manual,First Owner,Maruti,Swift,VDI BSIV

Dzire is a model,so cahnging it from variant to model

In [54]:
def adjust_model_variant(row):
    if row['variant'].startswith("Dzire"):
        row['model'] = row['model'] + " Dzire"
        row['variant'] = row['variant'].replace("Dzire", "").strip()
    if row['variant'].startswith("R "):
        row['model'] = row['model'] + " R"
        row['variant'] = row['variant'].replace("R", "").strip()
    if row['variant'].startswith("Altis"):
        row['model'] = row['model'] + " Altis"
        row['variant'] = row['variant'].replace("Altis", "").strip()
    if row['variant'].startswith("i10"):
        row['model'] = row['model'] + " i10"
        row['variant'] = row['variant'].replace('i10',"").strip()
    if row['variant'].startswith("800"):
        row['model'] = row['model'] + " 800"
        row['variant'] = row['variant'].replace('800',"").strip()
    return row

In [55]:
df=df.apply(adjust_model_variant,axis=1)
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,manufacturer,model,variant
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner,Maruti,800,AC
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner,Maruti,Wagon R,LXI Minor
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner,Hyundai,Verna,1.6 SX
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner,Datsun,RediGO,T Option
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner,Honda,Amaze,VX i-DTEC

In [56]:
model_counts=df['model'].value_counts()
model_counts[model_counts >20]

model
Swift          181
Alto           171
Wagon R        164
Swift Dzire    139
i20            132
Verna          129
Grand i10      112
Santro         111
Innova         102
EON            100
Indica          98
Scorpio         94
City            93
Alto 800        87
Figo            84
i10             80
Beat            76
XUV500          73
Ertiga          68
Bolero          67
KWID            66
Indigo          63
Zen             59
800             59
Amaze           58
Duster          54
Creta           54
Baleno          51
Etios           49
SX4             45
Polo            41
Vento           39
Ciaz            39
Ritz            38
EcoSport        35
Ecosport        35
Nano            34
Xylo            34
New             34
Celerio         33
Fiesta          33
Omni            29
Spark           29
Xcent           29
Fortuner        27
Jazz            27
Eeco            27
Tiago           26
Vitara          25
Brio            24
Manza           24
Endeavour       23
Laura           23
Accent          22
Micra           22
Terrano         22
GO              21
A4              21
Name: count, dtype: int64

In [51]:
df['name'].value_counts()

name
Maruti Swift Dzire VDI                     69
Maruti Alto 800 LXI                        59
Maruti Alto LXi                            47
Maruti Alto LX                             35
Hyundai EON Era Plus                       35
                                           ..
Hyundai Verna Transform CRDi VGT SX ABS     1
Maruti S-Presso VXI Plus                    1
Toyota Etios Liva 1.2 VX                    1
Toyota Yaris G                              1
Hyundai i20 Magna 1.4 CRDi                  1
Name: count, Length: 1491, dtype: int64

In [53]:
df[df['model']=='Grand i10'].sample(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,manufacturer,model,variant
2742,Hyundai Grand i10 1.2 Kappa Magna AT,2017,550000,19890,Petrol,Dealer,Automatic,First Owner,Hyundai,Grand i10,1.2 Kappa Magna AT
618,Hyundai Grand i10 Magna AT,2017,520000,10510,Petrol,Dealer,Automatic,First Owner,Hyundai,Grand i10,Magna AT
615,Hyundai Grand i10 1.2 Kappa Magna AT,2017,550000,19890,Petrol,Dealer,Automatic,First Owner,Hyundai,Grand i10,1.2 Kappa Magna AT
715,Hyundai Grand i10 1.2 Kappa Sportz Dual Tone,2013,325000,35299,Petrol,Dealer,Manual,First Owner,Hyundai,Grand i10,1.2 Kappa Sportz Dual Tone
558,Hyundai Grand i10 1.2 Kappa Magna AT,2017,550000,19890,Petrol,Dealer,Automatic,First Owner,Hyundai,Grand i10,1.2 Kappa Magna AT
1122,Hyundai Grand i10 1.2 Kappa Sportz BSIV,2018,450000,6000,Petrol,Individual,Manual,First Owner,Hyundai,Grand i10,1.2 Kappa Sportz BSIV
1749,Hyundai Grand i10 1.2 CRDi Sportz Option,2017,575000,27005,Diesel,Dealer,Manual,First Owner,Hyundai,Grand i10,1.2 CRDi Sportz Option
3305,Hyundai Grand i10 CRDi Asta,2015,300000,70000,Diesel,Individual,Manual,First Owner,Hyundai,Grand i10,CRDi Asta
52,Hyundai Grand i10 1.2 Kappa Asta,2019,500000,15000,Petrol,Individual,Manual,First Owner,Hyundai,Grand i10,1.2 Kappa Asta
2171,Hyundai Grand i10 CRDi Magna,2015,300000,60000,Diesel,Individual,Manual,Second Owner,Hyundai,Grand i10,CRDi Magna

In [60]:
df['fuel'].value_counts()

fuel
Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: count, dtype: int64

Removing fuel type from variants,which is present in some variants

In [61]:
fuel_type=['Diesel','Petrol','CNG','LPG','Electric']
def remove_fuel_from_variant(row):
  for fuel in fuel_type:
    if fuel in row['variant']:
       row['variant'] = row['variant'].replace(fuel, "").strip()
  return row

In [62]:
df=df.apply(remove_fuel_from_variant,axis=1)
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,manufacturer,model,variant
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner,Maruti,800,AC
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner,Maruti,Wagon R,LXI Minor
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner,Hyundai,Verna,1.6 SX
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner,Datsun,RediGO,T Option
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner,Honda,Amaze,VX i-DTEC